body {
  background-color: #a6035c;
  font-size: 2em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

thead,
header {
  background-color: #590031;
  color: white;
}

header h1 {
  margin-right: 1em;
}

header img {
  width: 150px;
  margin: 1em;
}

main {
  margin: auto;
}

main h2 {
  padding: 12px;
}
td img {
  height: 30px;
}

/* Classes */
.form-div {
  margin-bottom: 1em;
}

.complete-status,
.delete-cell,
th {
  text-align: center;
}

.task-in {
  width: 75%;
}
